
.app {
  
  width: 100vw;
  min-height: 100vh;
  transition: ease 1s;
  padding-top: 20px;
  padding-bottom: 200px;
}

.modoClaro {
  background-color: #ffffff;
  color: #000000;
}

.container {
  margin: auto;
  display: grid;
  grid-auto-flow: dense;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(Min(100%, 5rem), 1fr));
  grid-template-rows: repeat(auto-fit, minmax(Min(100%, 5rem), 2fr));
  max-width: 600px;
  padding: 5px;
  padding-top: 20px;

}
.container * {
  aspect-ratio: 1/1;
}

.modos {
  margin-top: 7px;
  height: 45px;
  width: 45px;
}

/* box trabajo ==> */

#trabajandobox{
  background-color: transparent;
  box-shadow: 0px 0px 0px transparent;
  position: relative;
  overflow: hidden;
}
.content{
  position: relative;
  position: absolute;
  top: 0rem;
  left: 0rem;
  text-align: center;
}
.trabajando{
  width: 17rem;
  height: 17rem;
  transition: filter 0.3s, brightness 0.3s;
  position: absolute;
  
  color: white;
}



.modoOscuro #trabajandobox:hover .trabajando{
  filter: blur(2px) brightness(0.5)  drop-shadow(0px 0px 5px #e1c6e6);

}
.modoClaro #trabajandobox:hover .trabajando{
  filter: blur(2px) brightness(0.3)  drop-shadow(0px 0px 5px #782d86);
 
}

.modoOscuro .trabajando{
  filter: drop-shadow(0px 0px 10px #782d86);
}
.modoClaro .trabajando{
  filter: drop-shadow(0px 0px 10px #000000);
}


.info{
  display: none;
  top: 5rem;
  position: absolute;
  left: 5.5rem;
  font-size: 3rem;
  color: rgb(248, 248, 248);
}
.modoOscuro .info{
  
  color: rgb(248, 248, 248);
}

 /* <== box trabajo */

/* box proyectos ==> */



#proyectosbox{
  position: relative;
  overflow: hidden;
}
.book{
height: 10rem;
}
.proyectostext{
  display: none;
  position: absolute;
  top: 50%; /* Centrar verticalmente */
  left: 55%; /* Centrar horizontalmente */
  transform: translate(-50%, -50%); /* Centrar completamente */
  font-size: 1.3rem;
  color: transparent;
}

.modoOscuro #proyectosbox:hover .book{
  filter: blur(2px) brightness(0.5)  drop-shadow(0px 0px 10px #e1c6e6);

}
.modoClaro #proyectosbox:hover .book{
  filter: blur(2px) brightness(0.5)  drop-shadow(0px 0px 10px #782d86);
 
}
.siemprepro{
  display: block;
  position: absolute;
  top: 45%; /* Centrar verticalmente */
  left: 58%; /* Centrar horizontalmente */
  transform: translate(-50%, -50%); /* Centrar completamente */
  font-size: 1.3rem;
  color: #000000;
}
/* <== box proyectos */
.box1 {
  grid-column: span 1;
  grid-row: span 1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.788);
  background-color: #220d26;
  border-radius: 20px;
  place-items: center;
  align-items: center;
  padding: 5px;
  position: relative;
}

.box2 {
  grid-column: span 2;
  grid-row: span 2;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.788);
  background-color: #f0eaf1;
  border-radius: 20px;
  position: relative;
}

.box3 {
  grid-column: span 3;
  grid-row: span 3;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.788);
  background-color: #782d86;
  border-radius: 20px;
  place-items: center;
  align-items: center;
  position: relative;
}
.box4 {
  grid-column: span 1;
  grid-row: span 2;
  aspect-ratio: inherit;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.788);
  background-color: #d8b1ec;
  border-radius: 20px;
  position: relative;
}
.box5 {
  grid-column: span 3;
  grid-row: span 1;
  aspect-ratio: 3/1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.788);
  background-color: #d8b1ec;
  border-radius: 20px;
  position: relative;
}
.boxName{
  grid-column: span 3;
  grid-row: span 1;
  aspect-ratio: 3/1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.788);
  background-color: #d8b1ec;
  border-radius: 20px;
  padding: 0;
  aspect-ratio: inherit;
  position: relative;
  color: #220d26;
  font-size: 2rem;
  max-height: 5rem;
  align-items: center;
  place-items: center;

 
}
.name{
  margin-top: 25px;
  font-size: 2rem;
  position: relative;
  filter: drop-shadow(0px 0px 15px black);
}
.box6 {
  grid-column: span 3;
  grid-row: span 2;
  aspect-ratio: 3/2;
  background-color: #782d86;
  border-radius: 20px;
  position: relative;
}


.box1:hover {
  box-shadow: 0px 0px 45px black;
}
.box2:hover {
  box-shadow: 0px 0px 45px black;
}

.box3:hover {
  box-shadow: 0px 0px 45px black;
}

.box4:hover {
  box-shadow: 0px 0px 45px black;
}
.box5:hover {
  box-shadow: 0px 0px 45px black;
}
.boxName:hover {
  box-shadow: 0px 0px 45px black;
}


/* modo oscuro ==>  */

.modoOscuro {
  background-color: #220d26;
  color: #ffffff;
}
.modoOscuro .box1 {
  box-shadow: 0px 0px 15px #8432ad91;
}
.modoOscuro .box2 {
  box-shadow: 0px 0px 15px #8432ad91;
}
.modoOscuro .box3 {
  box-shadow: 0px 0px 15px #8432ad91;
}
.modoOscuro .box4 {
  box-shadow: 0px 0px 15px #8432ad91;
}

.modoOscuro .box5 {
  box-shadow: 0px 0px 15px #8432ad91;
}
.modoOscuro .boxName {
  box-shadow: 0px 0px 15px #8432ad91;
}


.modoOscuro .box1:hover {
  box-shadow: 0px 0px 15px rgb(247, 247, 247);
}
.modoOscuro .box2:hover {
  box-shadow: 0px 0px 15px rgb(247, 247, 247);
}
.modoOscuro .box3:hover {
  box-shadow: 0px 0px 15px rgb(247, 247, 247);
}
.modoOscuro .box4:hover {
  box-shadow: 0px 0px 15px rgb(247, 247, 247);
}
.modoOscuro .box5:hover {
  box-shadow: 0px 0px 15px rgb(247, 247, 247);
}
.modoOscuro .boxName:hover {
  box-shadow: 0px 0px 15px rgb(247, 247, 247);
}


.modoOscuro .box2 {
  grid-column: span 2;
  grid-row: span 2;

  background-color: #030104;
  border-radius: 20px;
}
.modoOscuro .box4 {
  grid-column: span 1;
  grid-row: span 2;
  aspect-ratio: inherit;

  background-color: #cf90da;
  border-radius: 20px;
}
.modoOscuro .box5 {
  grid-column: span 3;
  grid-row: span 1;
  aspect-ratio: 3/1;

  background-color: #cf90da;
  border-radius: 20px;
}

/* <== modo oscuro  */




#skills{
  color: #220d26;
  font-size: 1.5em;
}


/* descarga */

.descarga{
  position: absolute;
  top: 1rem;
  left: 0.7rem;
  height: 64px;
}

#descarga{
  position: relative;
  overflow: hidden;
  
}
.desc{
  display: none;
  position: absolute;
  top: 50%; /* Centrar verticalmente */
  left: 50%; /* Centrar horizontalmente */
  transform: translate(-50%, -50%); /* Centrar completamente */
  font-size: 1.8rem;
  color: rgb(0, 0, 0);
}
.descs{
  display: block;
  position: absolute;
  top: 50%; /* Centrar verticalmente */
  left: 50%; /* Centrar horizontalmente */
  transform: translate(-50%, -50%); /* Centrar completamente */
  font-size: 1.2rem;
  color: rgba(179, 13, 129, 0.864);
}
#descarga:hover .descs{
  display: none;
}
#descarga:hover .desc{
  display: block;
}
#descarga:hover .descarga{
  filter: blur(5px) drop-shadow();
  }

  .modoOscuro #descarga:hover .descarga{
    filter: blur(2px) brightness(0.5)  drop-shadow(0px 0px 10px #e1c6e6);
  
  }
  .modoClaro #descarga:hover .descarga{
    filter: blur(2px) brightness(0.5)  drop-shadow(0px 0px 10px #782d86);
   
  }







  #contactobox{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    max-height: 15rem;
    text-align: center;
  }

  .iconsContacto{
    margin: 0px;
    height: 4rem;
    background-color: #220d26;
    width: 4rem;  
    border-radius: 50%;
    box-shadow: 0px 0px 25px rgb(60, 2, 57);
    
    
  }
  .iconsContacto:hover{
    box-shadow: 0px 0px 25px #ab51c4;
  }

  .cont{
    height: 15rem;
    width: 21rem;
    justify-content: space-around;
    align-items: center;
    text-align: center;
   
    display: flex;
    flex-direction: column;

  } 
  .tit{
    font-size: 2rem;
    width: 10rem;
    filter: drop-shadow(0px 0px 10px black);
   
  }
  .par{
    width: 12rem;
    font-size: 1.5rem;
    filter: drop-shadow(0px 0px 10px black);
   
  }
  .bots{
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    
    width: 15rem;

  }
  #contactobox:hover .tit{
    filter: drop-shadow(0px 0px 5px black);
  }
  #contactobox:hover .par{
    filter: drop-shadow(0px 0px 5px black);
  }





  
.boxSkills{
  grid-column: span 3;
  grid-row: span 1;
  aspect-ratio: 3/1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.788);
  background-color: #d8b1ec;
  border-radius: 20px;
  aspect-ratio: inherit;
  position: relative;
  color: #220d26;
  font-size: 2rem;
  padding: 8px;
}

@media (width >= 380px) {

  .boxSkills{
    grid-column: span 4;
    grid-row: span 1;
    aspect-ratio: 4/1;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.788);
    background-color: #d8b1ec;
    border-radius: 20px;
   
    aspect-ratio: inherit;
    position: relative;
    color: #220d26;
    font-size: 2rem;
  }
  
}

@media (width >= 475px) {

  .boxSkills{
    grid-column: span 5;
    grid-row: span 1;
    aspect-ratio: 5/1;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.788);
    background-color: #d8b1ec;
    border-radius: 20px;
    
    aspect-ratio: inherit;
    position: relative;
    color: #220d26;
    font-size: 2rem;
  }
  
}

@media (width >= 571px) {

  .boxSkills{
    grid-column: span 6;
    grid-row: span 1;
    aspect-ratio: 6/1;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.788);
    background-color: #d8b1ec;
    border-radius: 20px;
    
    aspect-ratio: inherit;
    position: relative;
    color: #220d26;
    font-size: 2rem;
  }
  
}
.logoskills{
  height: 64px;
}
.logoskills:hover{
  scale: 1.2;
}







@media (width >= 380px) {

  .boxcontainerproyect{
    grid-column: span 4;
  grid-row: span 2;
  aspect-ratio: 4/2;
  background-color: #782d86;
  border-radius: 20px;
  position: relative;
  padding: 20px;
  }
  
}

@media (width >= 475px) {

  .boxcontainerproyect{
    grid-column: span 5;
  grid-row: span 2;
  aspect-ratio: 5/2;
  background-color: #782d86;
  border-radius: 20px;
  position: relative;
  padding: 20px;
  }
  
}

@media (width >= 571px) {

  .boxcontainerproyect{
    grid-column: span 6;
    grid-row: span 2;
    aspect-ratio: 6/2;
    background-color: #782d86;
    border-radius: 20px;
    position: relative;
    padding: 20px;
  }
  
}





.BoxSobreMi{
  grid-column: span 3;
  grid-row: span 1;
  aspect-ratio: 3/1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.788);
  background-color: #d8b1ec;
  border-radius: 20px;
  aspect-ratio: inherit;
  position: relative;
  color: #220d26;
  font-size: 1.3rem;
  padding: 15px;
}

@media (width >= 380px) {

  .BoxSobreMi{
    grid-column: span 4;
    grid-row: span 1;
    aspect-ratio: 4/1;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.788);
    background-color: #d8b1ec;
    border-radius: 20px;
    
    aspect-ratio: inherit;
    position: relative;
    color: #220d26;
  }
  
}

@media (width >= 475px) {

  .BoxSobreMi{
    grid-column: span 5;
    grid-row: span 1;
    aspect-ratio: 5/1;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.788);
    background-color: #d8b1ec;
    border-radius: 20px;
  
    aspect-ratio: inherit;
    position: relative;
    color: #220d26;
  }
  
}

@media (width >= 571px) {

  .BoxSobreMi{
    grid-column: span 6;
    grid-row: span 1;
    aspect-ratio: 6/1;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.788);
    background-color: #d8b1ec;
    border-radius: 20px;
    
    aspect-ratio: inherit;
    position: relative;
    color: #220d26;
  }
  
}


.red{
  height: 54px;
}





.boxcontainerproyect{
  grid-column: span 3;
  grid-row: span 2;
  aspect-ratio: 3/2;
  background-color: #782d86;
  border-radius: 20px;
  position: relative;
  justify-content: center;
  padding: 20px;
  align-items: center;
  place-items: center;
  text-align: center;
}

.proyect{
  
  display: flex;
  flex-direction: row;
  max-height: 15rem;
  
}

.fotopro{
  height: 120px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px black;
}

.prologo{
  height: 50px;
  margin: 5px;
}

.titlepro{
  margin: 0px;
  font-size: 2rem;
}

.titleandlogo{
  margin-top: 10rem;
  display: flex;
  flex-direction:column;
  justify-content: center;
  min-width: 12rem;
}
.parrafo{
  text-align: center;
  max-width: 15rem;
  font-size: 0.8rem;
}





@media (width >= 380px) {

  .boxcontainerproyect{
    grid-column: span 4;
    grid-row: span 2;
    aspect-ratio: 4/2;
    background-color: #782d86;
    border-radius: 20px;
    position: relative;
    padding: 20px;
  }
  
}

@media (width >= 475px) {

  .boxcontainerproyect{
    grid-column: span 5;
    grid-row: span 2;
    aspect-ratio: 5/2;
    background-color: #782d86;
    border-radius: 20px;
    position: relative;
    padding: 20px;
  }
  .fotopro{
    height: 200px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px black;
  }
  .prologo{
    height: 60px;
    margin: 5px;
  }
  
  .titlepro{
    margin: 0px;
    font-size: 2rem;
  }
  
  .titleandlogo{
    display: flex;
    flex-direction:column;
  
  }
}

@media (width >= 571px) {

  .boxcontainerproyect{
    grid-column: span 6;
    grid-row: span 2;
    aspect-ratio: 6/2;
    background-color: #782d86;
    border-radius: 20px;
    position: relative;
    padding: 20px;
  }
  .fotopro{
    height: 280px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px black;
  }
}